@import "../../../styles/settings.scss";


.headingTitle{
    text-align: left;
    padding: 15px 0 ;
    margin: 0;
}
.headingTitleGray{
    text-align: left;
    padding: 25px 0 ;
}
.headerCart{
    margin: 20px;
    border-top: 1px solid $lightGrayFive;
}
table,tr,td{
    border-collapse: collapse;
}
.cartBox{
    h3{
        text-align: center;
        color: black;
        background-color: rgb(207, 206, 206);
    }
    tbody,thead,tfoot{
        text-align: center;
    }
    th,td{
        vertical-align: middle;
    }
    img{
        width: 60px;
        height: 60px;
    }
}
tfoot{
    input{
        margin-right: 10px;
        height: 25px;
        font-size: 13px;
    }
}
.leftAlign{
    text-align: left;
}
.grayTitle{
    background-color: $lightGrayFive;
}
.product{
    thead{
        background-color: $lightGrayFive;
    }
    table{
        border:1px solid $lightGrayFive;
    }
}
.cartTotals{
    justify-content: flex-end;
    table{
        border: 1px solid $lightGrayFive;
    }
    thead{
        text-align: center;
        background-color: $lightGrayFive;
    }
    tbody{
        text-align: left;
    }
    p{
        padding-right: 50px;
    }
    td,th{
        border: 1px solid $lightGrayFive;
    }
}
.price{
    color:$green;
}
.totalCartBtn{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: $darkOrange;
    border-radius: 0;
    color:white;
}
.productBtn{
    background-color: $darkOrange;
    color:white;
    padding: 8px 20px;
    // margin: 0;
    font-size: 12px;
    font-weight: normal;
}
.removeBtn{
    border:  1px solid $lightGrayOne;
    color: $lightGrayOne;
    width: 25px;
    border-radius: 100%;
    line-height: 25px;
    height: 25px;
    font-size: 12px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.amountWidget{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        height: 100%;
    }
    input{
        height: 30px;
        width: 30px;
        text-align: center;
        border:1px solid $lightGrayOne;
        color:  $lightGrayOne;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    a{
        height: 30px;
        width: 30px;
        display: block;
        text-align: center;
        border:1px solid $lightGrayOne;
        color: $lightGrayOne !important;
        line-height: 30px;
    }
}