@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $mbar-bg;
  display: flex;

  input[type="checkbox"] {
    display: none;
  }

  :global(.container) > :global(.row) {
    height: 84px;
  }

  .menu {
    display: flex;
    align-self: stretch;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $mbar-text;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid $mbar-bg;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $mbar-hover;
        color: $mbar-bg;
        border-color: $mbar-hover;
      }

      &.active {
        border-color: $mbar-text;
      }
    }
  }
  .dropdownButton {
    display: none;
    padding: 5px;
    align-self: flex-end;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    .menu {
      order: 1;
    }

    .searchLayout {
      order: 2;
    }

    :global(.container) > :global(.row) {
      height: 100%;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    :global(.container) > :global(.row) {
      position: relative;
      padding-inline: 10px;
    }

    .menu {
      display: none;
      position: absolute;
      width: 100%;
      top: 100%;
      z-index: 1;
      background: $white;
      padding: 0;

      ul {
        flex-flow: column;
        align-items: flex-end;
        width: 100%;

        li {
          display: block;
          width: 100%;
        }
      }

      a {
        border-right: 65px transparent solid;
        border-bottom: 1px solid $lightGrayFour;
        &.active {
          border: none;
        }
      }
    }

    input:checked {
      & ~ .searchLayout .dropdownButton {
        background-color: $primary;
        color: $white;
      }

      & ~ .menu {
        display: block;
      }
    }

    .dropdownButton {
      display: inline-block;
      border-radius: 4px;
      margin: auto 0;
      padding-inline: 10px;
      align-self: stretch;
    }

    .searchLayout {
      display: flex;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      width: calc(100% - 10px);
    }
  }
}
