@import "../../../styles/settings.scss";

.root {
  .brands {
    border-top: solid 1px $brandsBar-border;
    border-bottom: solid 1px $brandsBar-border;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
  }

  .brandsBtn {
    height: 90px;
    display: flex;
    align-items: center;

    &:hover {
      color: $darkOrange;
    }
  }
}
