$base-padding: 24px;
$primary: #d58e32;

// ====== COLORS - DO NOT USE IN CODE DIRECTLY, check next comment like this below =======

$white: #ffffff;
$darkOrange: #d58e32;

$darkGrayOne: #2a2a2a;
$darkGrayTwo: #292929;
$darkGrayThree: #363636;
$darkGrayFour: #434343;

$grayOne: #a5a5a5;
$grayTwo: #a9a9a9;
$grayThree: #b6b6b6;

$lightGrayOne: #d8d8d8;
$lightGrayTwo: #e0e3ed;
$lightGrayThree: #e1e1e1;
$lightGrayFour: #e2e2e2;
$lightGrayFive: #f4f5f7;

// ======= COLOR VARIABLES - TO BE USED =======

// button
$button-bg: $darkGrayOne;
$button-text: $white;
$button-hover: $darkOrange;

// feature box
$fbox-border: $grayThree;
$fbox-text: $darkGrayOne;
$fbox-bg: $white;
$fbox-hover: $darkOrange;

// promoted box
$pormo-heading-bg: $darkGrayOne;
$promo-bg: $darkGrayOne;
$promo-box-text: $white;
$promo-shade-bg:rgba(0, 0, 0, 0.493);
$promo-light-button: $white;
$promo-light-button-text: $darkGrayOne;
$promo-arrow-buttons-bg:$darkOrange;

// select category dropdown menu
$text-color: #2a2a2a;
$text-hover-color: white;

// product box
$bbox-bg: $white;
$bbox-border: $lightGrayThree;
$bbox-sale-box: $darkGrayTwo;
$bbox-stars: $darkGrayOne;
$bbox-hover: $darkOrange;
$bbox-old-price: $grayOne;

// new furniture
$furniture-border: #e2e2e2;
$furniture-category: $darkGrayOne;
$furniture-hover: $darkOrange;
$furniture-button-bg: $white;
$furniture-page-switch: #e1e1e1;

// product search
$search-border-color: $darkGrayTwo;
$search-bg: $white;
$search-text: $darkGrayOne;
$search-hover: $darkOrange;

// company claim (header)
$header-bg: $darkGrayThree;
$header-icon: $darkOrange;
$header-number: $lightGrayOne;
$header-cart-icon: $white;
$header-cart-counter: $lightGrayTwo;

// footer
$footer-bg: $darkGrayThree;
$footer-claim-bg: $darkGrayOne;
$footer-primaty-text: $white;
$footer-secondary-text: $grayTwo;
$footer-hover: $darkOrange;

// menu bar
$mbar-bg: $white;
$mbar-text: $darkGrayOne;
$mbar-hover: $darkOrange;

// top bar
$tbar-bg: $darkGrayFour;
$tbar-hover: $darkOrange;
$tbar-text: $white;


$form-border-color: #292929;

$text-price-old: #a5a5a5;

$brandsBar-border: $lightGrayFive;

$brandBox-border: $lightGrayFive;

