@import "../../../styles/settings.scss";

.root {
  background-color: $bbox-bg;
  border: 1px solid $bbox-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $bbox-sale-box;
      border-radius: 50%;
      color: $bbox-bg;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $bbox-hover;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $bbox-stars;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $bbox-hover;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
