@import "../../../styles/settings.scss";

.root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.modalBox {
  padding: 10px;
  border: 1px solid $bbox-border;
  position: absolute;
  min-height: 500px;
  min-width: 700px;
  background-color: #f4f5f7;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .photo {
    width: 50%;
    display: inline-block;
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $bbox-sale-box;
      border-radius: 50%;
      color: $bbox-bg;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      opacity: 1;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .buttonsSmall {
        height: 100%;
      }
    }
  }

  .info {
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;
    text-align: center;
    padding: 0 50px;
  }

  .content {
    padding: 20px;
    h5 {
      color: $bbox-hover;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $bbox-stars;
      }
    }
  }

  .closeButton {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .price {
    width: 50px;
    color: $text-price-old;
    font-size: 16px;
    background: none;
    margin: auto;
  }
  .priceOld {
    width: 50px;
    color: $text-price-old;
    font-size: 16px;
    text-decoration: line-through;
    background: none;
    margin: auto;
  }
}

.photo:hover {
  .buttons {
    opacity: 1;
  }
}

.active:not(.noHover) {
  background-color: $darkGrayOne;
  color: $white;
}
