@import "../../../styles/settings.scss";

.root {
  border: 1px solid $search-border-color;
  display: inline-flex;
  height: 45px;
  color: $search-text;

  .category {
    border-right: 1px solid $search-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $search-hover;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
      width: 100%;

      &::placeholder {
        color: $search-text;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

@media (max-width: 576px) {
  .root {
    border: none;
    height: auto;
    flex-direction: column-reverse;

    .category {
      border-right: none;

      .icon:last-child {
        right: 17px;
      }
    }

    .searchField {
      border-bottom: 1px solid $form-border-color;
      border-inline: 10px solid transparent;
      padding-left: 15px;
    }
  }
}
