@import "../../../styles/settings.scss";

.root {
  border: 1px solid $search-border-color;
  display: inline-flex;
  height: 45px;
  color: $search-text;

  .category {
    border-right: 1px solid $search-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $search-hover;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    ul {
      margin: 1rem 0;
      padding: 5px 30px 5px 35px;
      display: flex;
      list-style: none;
    }

    li {
      z-index: 1;
      width: 100%;
      cursor: pointer;
    }

    span {
      display: block;
      padding: 3px;
      width: 100%;
      transition: all .3s ease-in-out;
    }

    .dropdown {
      transition: transform .3s ease-in-out;
      transform: scaleY(0) translate(-50%, 0);
      position: absolute;
      z-index: 2;
      top: 76%;
      left: 50%;
      display: flex;
      flex-direction: column;
      transform-origin: top center;
      margin: 0;
      width: 100%;
      text-align: center;
      background-color: #fff;
    }

    &:hover ul li .dropdown {
      transform: scaleY(1) translate(-50%, 0);
    }

    .dropdown li:hover .option {
    background: $primary;
    color: #fff;
    }

    .categorySelect:hover .dropdown li:hover .option {
      background: $primary;
      color: #fff;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $search-text;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
