@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;

  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $furniture-border;
    }
  }
}



