@import "../../../styles/settings.scss";

.root {
  border: 1px solid $fbox-border;
  text-align: center;
  margin-top: 40px;

  .iconWrapper {
    height: 60px;
    transform: translateY(-50%);
    color: $fbox-text;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .icon {
      position: relative;
      z-index: 9;
    }

    &::before {
      content: "";
      border: 1px solid $fbox-border;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 76px;
      height: 76px;
      border-radius: 100%;
      background-color: $fbox-bg;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $fbox-border;
    }
  }

  .content {
    text-transform: uppercase;
    color: $fbox-text;
    margin-top: -0.5rem;
    letter-spacing: 1px;
    font-weight: 300;

    h5 {
      font-weight: 600;
      margin: 0;
    }

    p {
    }
  }

  &.active {
    .iconWrapper {
      color: $fbox-bg;

      &::after {
        background-color: $fbox-hover;
        border-color: $fbox-hover;
      }
    }

    .content {
      color: $fbox-hover;
    }
  }

  &:hover {
    .iconWrapper {
      color: #ffffff;

      &::after {
        background-color: $primary;
        border-color: $primary;
      }
    }

    .content {
      color: $primary;
    }
  }
}
