@import "../../../styles/settings.scss";

p {
  margin: 0;
}

.marksign {
  text-align: center;
  color: $text-color;
  width:2rem;
  height: 2rem;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
