@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;

    border-bottom: 4px solid $furniture-border;

    .heading {
      position: relative;

      h3 {
        color: $furniture-hover;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $furniture-hover;
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $furniture-button-bg;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $furniture-page-switch;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $furniture-hover;
            }
          }
        }
      }
    }
  }
}
