@import "../../../styles/settings.scss";

.root {
  .footerMenu {
    background-color: $footer-bg;
    padding: 3rem 0;

    .menuWrapper {
      h6 {
        color: $footer-primaty-text;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: $footer-secondary-text;

            &:hover {
              color: $footer-primaty-text;
            }
          }
        }
      }
    }

    .paymentMethods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottomBar {
    background-color: $footer-claim-bg;

    :global(.container) > :global(.row) {
      height: 95px;
    }

    .copyright {
      p {
        margin: 0;
        color: $footer-secondary-text;
        font-size: 14px;
        line-height: 26px;
      }
    }

    .socialMedia {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: $footer-secondary-text;
            text-decoration: none;

            &:hover {
              color: $footer-hover;
            }
          }
        }
      }
    }
  }
}
